@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body{
  font-family:'Poppins',sans-serif;
  margin:0;
  background:#f4f8ff;
  color:#0B2A6B;
}

/* HEADER */
header{
  text-align:center;
  background:#0B2A6B;
  color:white;
  padding:40px 15px;
}

.logo{
  width:120px;
}

.subtitulo{
  color:#6EDB9E;
}

/* NAV */
nav{
  background:#6FB3A8;
  padding:10px;
  display:flex;
  justify-content:center;
  gap:20px;
}

nav a{
  color:white;
  text-decoration:none;
}

/* HAMBURGUESA */
.hamburger{
  display:none;
  font-size:28px;
  padding:10px 15px;
  background:#6FB3A8;
  color:white;
  cursor:pointer;
}

/* SECCIONES */
.seccion{
  background:white;
  margin:20px auto;
  padding:30px 15px;
  width:90%;
  border-radius:18px;
  text-align:center;
}

.fotos{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
  gap:10px;
}

.fotos img{
  width:100%;
  height:140px;
  object-fit:cover;
  border-radius:12px;
}

/* CONTACT CARD */
.contact-card{
  background:#f9fbff;
  padding:20px;
  border-radius:15px;
}

.map-card iframe{
  width:100%;
  height:260px;
  border:0;
  border-radius:12px;
}

/* BOTÓN */
.btn-mapa{
  display:inline-block;
  margin-top:10px;
  background:#0B2A6B;
  color:white;
  padding:8px 18px;
  border-radius:8px;
  text-decoration:none;
}

/* FOOTER */
footer{
  background:#0B2A6B;
  color:white;
  padding:15px;
  text-align:center;
}

/* WHATSAPP */
.whatsapp-container{
  position:fixed;
  bottom:15px;
  right:15px;
}

.whatsapp-btn{
  background:#25d366;
  width:48px;
  height:48px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.whatsapp-btn img{
  width:24px;
}

/* RESPONSIVE */
@media(max-width:768px){

  .hamburger{
    display:block;
  }

  nav{
    display:none;
    flex-direction:column;
    text-align:center;
  }

  nav.active{
    display:flex;
  }

}
